<h1>Update Form</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @form2 do |f| %>
      <%= f.label :company_name %>
      <%= f.text_field :company_name %>

      <%= f.label :tax_code %>
      <%= f.text_field :tax_code %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :career %>
      <%= f.text_field :career %>

      <%= f.label :date %>
      <%= f.date_field :date, value: @form2.date %>

      <%= f.label "Description" %>
      <%= f.text_field :work_decs %>

      <%= f.label :income %>
      <%= f.number_field :income %>

      <%= f.label :note %>
      <%= f.text_field :note %>
        
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
